body{
  background-color:#DEE7F1;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content:end ;
  align-items: center;
  gap: 9px;

}

.pagination .page-num{
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgb(250, 250, 250);

}

.pagination .page-num:hover{
  background-color: rgb(131, 189, 255);
  color: rgb(255, 255, 255);
}

.pagination .active{
  background-color: rgb(126, 186, 255);
}